{{> header}}

        <div style="width:55%; margin: 25px auto">
        {{#each this}}
                <div class="row"></div>
        {{/each}}
            <form class="form-inline" action="/cert" method="GET">
                    <div class="form-group">
                            <div class="input-group">
                                    <input type="text" class="form-control" name="certNo" placeholder="인증서 일련번호">
                            </div>
                    </div>
                    <button type="submit" class="btn btn-primary">조 회</button>
            </form>
            <br>
            {{!-- {{#if serialNo}} --}}
                <p>Certification No: {{serialNo}}</p>
                {{!-- <p>인증서 상태: {{status}}</p>
                <p>발행기관 코드: {{issuer}}</p>
                <p>주민번호(Hash): {{residentNo}}</p>
                <p>고객 공개키: {{publicKey}}</p>
                <p>발급 일자: {{startDate}}</p>
                <p>유효 일자: {{endDate}}</p>
                <p>인증서: {{certificate}}</p>
                <p>인증서 상태: {{status}}</p> --}}
            {{!-- {{/if}} --}}
        </div> 
{{> footer}}